
/* break points */

@media(max-width:760px){
   
    .container{
        width:100vw;
    }

   
    #hum-bar
    {
        display: block;
        position:fixed;
        right:5px;
        top:20px;
        margin-right:5px;
       
    }

    .card-container{
        flex-direction: column;
        align-items: center;
    }

    .nav-container{
        overflow:initial;
    }

   
    .nav-links{
        position:absolute;
        top:100%;
        left:-100%;
      
        background-color: red;
        width:100%;
    }

    .nav-links.active{
        left:0px;
    }


    .nav-links ul{
        flex-direction: column;
    }

    

    .nav-links ul li {
        padding:20px;
        
        
    }

    .search-bar{
        /* border:2px solid red; */
        height:100%;
        margin:0px;
        flex-direction: column;
        align-items: center;
        
    }
    #search-text{
        width:170px;
        height: 50px;

    }
    
   
}


@media(max-width:398px){
    .card{
        width:300px;
        
    }

 
   
}



